@font-face {
  font-family: 'PT Sans Narrow';
  font-weight: 400;
  src: url('../fonts/PTSansNarrow-Regular.woff2') format('woff2'),
       url('../fonts/PTSansNarrow-Regular.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-weight: 700;
  src: url('../fonts/PTSansNarrow-Bold.woff2') format('woff2'),
       url('../fonts/PTSansNarrow-Bold.woff') format('woff');
}